<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        作品
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @post, :image %>
            </figure>
          </div>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @post.title %></p>
              </div>
            </div>

            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>🌹説明🌹｜
                  <span><%= link_to "#{@post.post_comments.count} コメント", post_path(@post.id)  %></span>


                          <% if @post.favorited_by?(current_user) %>

                            <%= link_to post_favorites_path(@post), method: :delete do %>
                              ♥<%= @post.favorites.count %> いいね
                            <% end %>

                          <% else %>

                            <%= link_to post_favorites_path(@post), method: :post do %>
                              ♡<%= @post.favorites.count %> いいね
                          <% end %>

                        ｜ タグ ⏩｜   <% @post.tags.each do |tag| %>
                            <span class = "tag is-light"><%= tag.name %></span>
                          <% end %>

                        <% end %>
                        </p>
                  </th>


                <tr>
                  <td><%= simple_format @post.body %>

                        <div class="comments">
                        <p>
                        <% @post.post_comments.each do |post_comment| %>
                          <div class="text-line1">
                          <%= post_comment.user.username %>
                          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                          <%= post_comment.comment %>
                          <% if post_comment.user == current_user %>
                            <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
                          <% end %>
                          </div>
                        <% end %>
                        </div>
                        <div class="new-comment">
                        <%= form_for [@post, @post_comment], local: true do |f| %>
                          <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
                          <%= f.submit "送信する" %>
                        <% end %>
                  </div>
                </tr></td>
                </tr>
              </table>
              <% if @post.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_post_path(@post), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

<div class="column is-4">
        <article class="panel is-centered">
          <p class="panel-heading">
            By <%= @post.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @post.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@post.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @post.user.username %> さんのページへ
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>